<launch>

			  	<!-- load the controllers  -->
	  	<node name="controller_spawner" pkg="controller_manager" type="spawner" ns="/dynamixel" respawn="false"
	    output="screen" args="dynamixelJointState JointPosGroup --shutdown-timeout 0.1"/>

	 	<node pkg="dynamixel_custom_controller" type="dynamixelCommonController" ns="/dynamixel" name="dynamixelCommonController" output="screen" >

	 	</node>

		<!-- Load joint controller configurations from YAML file to parameter server -->
		<rosparam file="$(find dynamixel_custom_controller)/config/commonController.yaml" ns="/dynamixel" command="load"/>
        <rosparam file="$(find dynamixel_custom_controller)/config/limits.yaml" ns="/dynamixel" command="load" />

</launch>
